doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/main-style.css")
        link(rel="stylesheet", href="./style/all.min.css")
        title Eco Friendly
    body 
        nav
            .container
                .logo 
                    img(src="./imgs/logo.svg", alt="alt")
                ul.menu 
                    li: a Our Mission
                    li: a Core Directions
                    li: a Contact
                    li: a Services
        .home 
            h2 Save The Wild Nature!
            p Our world needs many different animals and plants, and different types of habitats for them and us to live in.
        .our-mission
            .container 
                .heading
                    h2 Our Mission
                    //- p Our mission is to conserve nature
                .boxes 
                    .box 
                        .top 
                            <i class="fa-solid fa-carrot fa-3x"></i>
                            h3 Clearer Water
                        .bottom 
                            p We provide citizens and farmers with pure drinking water and agricultural water by removing all plastic wastes from nile river
                    .box 
                        .top 
                            <i class="fa-solid fa-carrot fa-3x"></i>
                            h3 Food
                        .bottom 
                            p fruits and vegetables are now planted with clear and pure water free of any unwanted chemicals.
                    .box 
                        .top 
                            <i class="fa-solid fa-carrot fa-3x"></i>
                            h3 Volunteer
                        .bottom 
                            p want to volunteer in collecting plastic and saving your environment? our door is open
                    .box 
                        .top 
                            <i class="fa-solid fa-carrot fa-3x"></i>
                            h3 Hiring
                        .bottom 
                            p looking for a job in any of the following fields  (accounting, chemical testing, chemical engineering, sales)
                    .box 
                        .top 
                            <i class="fa-solid fa-carrot fa-3x"></i>
                            h3 Food
                        .bottom 
                            p We supply food to regions struggling from hunger
                    .box 
                        .top 
                            <i class="fa-solid fa-carrot fa-3x"></i>
                            h3 Food
                        .bottom 
                            p We supply food to regions struggling from hunger
        .articles#articles
            h1.heading Articles
            .container
                .card 
                    img(src="./imgs/nile river slogan.jpg", alt="")
                    .text 
                        h3 Card Title
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    .info 
                        a(href="#") Read More 
                        <i class="fas fa-long-arrow-alt-right"></i>
                .card 
                    img(src="./imgs/nile river slogan.jpg", alt="")
                    .text 
                        h3 Card Title
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    .info 
                        a(href="#") Read More 
                        <i class="fas fa-long-arrow-alt-right"></i>
                .card 
                    img(src="./imgs/nile river slogan.jpg", alt="")
                    .text 
                        h3 Card Title
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    .info 
                        a(href="#") Read More 
                        <i class="fas fa-long-arrow-alt-right"></i>
                .card 
                    img(src="./imgs/nile river slogan.jpg", alt="")
                    .text 
                        h3 Card Title
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    .info 
                        a(href="#") Read More 
                        <i class="fas fa-long-arrow-alt-right"></i>
                .card 
                    img(src="./imgs/nile river slogan.jpg", alt="")
                    .text 
                        h3 Card Title
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    .info 
                        a(href="#") Read More 
                        <i class="fas fa-long-arrow-alt-right"></i>
                .card 
                    img(src="./imgs/nile river slogan.jpg", alt="")
                    .text 
                        h3 Card Title
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    .info 
                        a(href="#") Read More 
                        <i class="fas fa-long-arrow-alt-right"></i>
        .testimonials
            .header 
                h2 Customer Testimonials
            .container#increment(data-text = "600")
                .slider#slider
                    .card 
                        .profile 
                            img(src="./imgs/test.svg", alt="")
                            .name_job 
                                h2 Crown Coder
                                p Front End Developer
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A, quibusdam! Exercitationem eveniet molestiae itaque velit cum! Temporibus quod qui provident, doloribus laboriosam, esse nihil incidunt, atque doloremque sunt ab libero.
                    .card 
                        .profile 
                            img(src="./imgs/test.svg", alt="")
                            .name_job 
                                h2 Shivam Kumar
                                p Front End Developer
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A, quibusdam! Exercitationem eveniet molestiae itaque velit cum! Temporibus quod qui provident, doloribus laboriosam, esse nihil incidunt, atque doloremque sunt ab libero.
                    .card 
                        .profile 
                            img(src="./imgs/test.svg", alt="")
                            .name_job 
                                h2 Sandeep Kumar
                                p Front End Developer
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A, quibusdam! Exercitationem eveniet molestiae itaque velit cum! Temporibus quod qui provident, doloribus laboriosam, esse nihil incidunt, atque doloremque sunt ab libero.
                    .card 
                        .profile 
                            img(src="./imgs/test.svg", alt="")
                            .name_job 
                                h2 Shivam Kumar
                                p Front End Developer
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A, quibusdam! Exercitationem eveniet molestiae itaque velit cum! Temporibus quod qui provident, doloribus laboriosam, esse nihil incidunt, atque doloremque sunt ab libero.
                    .card 
                        .profile 
                            img(src="./imgs/test.svg", alt="")
                            .name_job 
                                h2 Pankaj Kumar
                                p Front End Developer
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A, quibusdam! Exercitationem eveniet molestiae itaque velit cum! Temporibus quod qui provident, doloribus laboriosam, esse nihil incidunt, atque doloremque sunt ab libero.
                .slideBar 
                    //- span: <i class="fas fa-arrow-left" id="leftArrow"></i>
                    //- span: <i class="fas fa-arrow-right" id="rightArrow"></i>
                    span#leftArrow: <i class="fas fa-arrow-left"></i>
                    span#rightArrow: <i class="fas fa-arrow-right"></i>
        .contact 
            .text 
                h2 Contact Us
                p Contact our representatives for more details concerning the waste management services we provide.
            .container 
                .left 
                    .phone.box
                        .top 
                            <i class="fa-solid fa-phone fa-1.5x"></i>
                            h3 Phone
                        .bottom 
                            p: a(href="tel:01022226494") 0102-222-6494
                    .email.box 
                        .top 
                            <i class="fa-solid fa-envelope fa-1.5x"></i>
                            h3 E-mail
                        .bottom 
                            p: a(href="mailto:hamedosama19@mail.com?subject=Contact") hamedosama19@gmail.com
                    .location.box
                        .top 
                            <i class="fa-solid fa-location-dot fa-1.5x"></i>
                            h3 Location
                        .bottom 
                            p 4801 South University Drive,Suite 237, Ft. Lauderdale
                .right 
                    form(action="", method="post",class="contact-us")
                        input(type="text" , placeholder = "Enter Your Name *" id="name")
                        input(type="text" , placeholder = "Enter Your E-mail *" id="email")
                        input(type="text" , placeholder = "Enter Your Phone " id="phone")
                        input(type="text" , placeholder = "Message *" id="message")
                        button.btn(type='submit') Send


        script(src="./main.js") 
